<div class="centre-header">
  <h3>Centre details</h3>
  <a class="centre-link" href="#" (click)="isClassVisible1 = !isClassVisible1;">View details</a>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="centre-details">
      <!--<span>Centre details</span>-->

      <h4>AAT Training Centre</h4>
      <div class="accordion" [ngClass]="{'open': isClassVisible1 }">
        <select class="centre-select">
          <option value="change" selected>Change centre</option>
          <option value="centre">AAT Training Centre</option>
          <option value="college">AAT College</option>
        </select>

        <div class="row">
          <div class="col-md-6">
            <span>Location</span>
            <p>140 Aldersgate St
              <br>
              London
              <br>
              EC1A 4HY
            </p>
          </div>

          <div class="col-md-6">
            <span>Main contact</span>
            <ul>
              <li><b>Name:</b> Christian Guru Murthy</li>
              <li><b>Email:</b> <a href="mailto:contact@aat.org.uk">contact@centre.co.uk</a></li>
              <li><b>Phone:</b> <a href="tel:020 1234 56789">020 1234 56789</a></li>
              <li><b>Website:</b> <a href="https://www.aat.org.uk" target="_blank">www.centre.org.uk</a></li>
            </ul>
            <span>Role at centre</span>
            <p>Tutor</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>