<div class="row">
    <div class="col-md-4 col-top">
        <div class="card card-top">
            <a href="/">
            <!--<a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291337774_Download_AAT_Approved_Logos" target="_blank">-->
            <h4 class="h4">{{ dashcontent.heading1 }}</h4>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-top">
        <div class="card card-top">
            <a href="/">
            <!--<a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/290019215_My-Bookmarked-Items-Student" target="_blank">-->
            <h4 class="h4"><i class="far fa-star">&nbsp;&nbsp;</i>{{ dashcontent.heading2 }}</h4>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-top-rhs">
            <a href="/">
            <!--<a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291337773_Check_Out_Our_SecureAssess_Support_Resources" target="_blank">-->
                <h4 class="h4">{{ dashcontent.heading3 }}</h4></a>
        </div>
    </div>
</div>
<!--top row-->

<div class="row">
    <div class="col-md-8">
        <!--MyProgress component not required until later development-->
        <!--<div class="card card-progress">-->
            <!--<dashboard-myprogress></dashboard-myprogress>-->
        <!--</div>-->

        <div class="card card-study-support">
            <dashboard-centrepicker></dashboard-centrepicker>
        </div>

        <div class="card card-study-support">
            <dashboard-admin></dashboard-admin>
        </div>

        <div class="card card-study-support">
            <dashboard-studysupport></dashboard-studysupport>
        </div>
    </div>
    <div class="col-md-4">
        <dashboard-newsupdates class="card"></dashboard-newsupdates>
        <dashboard-events class="card"></dashboard-events>
        <dashboard-ad></dashboard-ad>
    </div>
    <div class="col-md-12 px-0">
        <dashboard-primarypush></dashboard-primarypush>
    </div>

    <div class="col-md-12 px-0">
        <dashboard-footer></dashboard-footer>
    </div>

</div>
<!--second row-->