<h3>Administration</h3>

<p>Book your students onto assessments, view their results and manage access.</p>

<div class="row">
  <div class="col-md-6">
    <ul>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291425856_Training_Provider_Dashboard_Mock" target="_blank">Generate payment codes</a></li>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291425856_Training_Provider_Dashboard_Mock" target="_blank">View payment codes</a></li>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291425856_Training_Provider_Dashboard_Mock" target="_blank">Manage staff access to services</a></li>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291425856_Training_Provider_Dashboard_Mock" target="_blank">Statements of achievement</a></li>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291425856_Training_Provider_Dashboard_Mock" target="_blank">View or renew your students</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291425856_Training_Provider_Dashboard_Mock" target="_blank">Centre assessment results</a></li>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291425856_Training_Provider_Dashboard_Mock" target="_blank">Add 2016 qualifications to your students</a></li>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291425856_Training_Provider_Dashboard_Mock" target="_blank">Assessment planner</a></li>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291425856_Training_Provider_Dashboard_Mock" target="_blank">Grade calculator</a></li>
    </ul>
  </div>
</div>