<!--<a class="edit-link" href="#">Edit</a>-->

<h3>Resources</h3>

<p>Use our extensive resources and support to help your students succeed.</p>

<div class="row">
    <div class="col-md-6">
        <!--<ul>-->
        <!--<li *ngFor="let support of supportContent" class="card-mini">-->
        <!--<p>{{ support.title }}</p>-->
        <!--<img [src]="support.imageUrl"  alt="">-->
        <!--</li>-->
        <!--</ul>-->
        <ul>
            <li class="card-mini col-md-12 col-xs-12">
                <a href="/">
                <span class="card-mini__text">
                <p>
                Study support resources
                </p>
                </span>
                <img [src]="studysupport.card7.imageUrl" alt=""></a>
            </li>

            <li class="card-mini col-md-12 col-xs-12">
                <a href="/">
                <span class="card-mini__text">
                <p>SecureAssess user support</p>
                </span>
                    <img
                    [src]="studysupport.card8.imageUrl" alt=""></a>
            </li>

            <li class="card-mini col-md-12 col-xs-12">
                <a href="/">
                <span class="card-mini__text">
                <p>AAT qualifications information</p>
                </span>
                <img [src]="studysupport.card4.imageUrl" alt=""></a>
            </li>

            <li class="card-mini col-md-12 col-xs-12">
                <a href="/">
                    <span class="card-mini__text">
                <p>AAT Tutor forums</p>
                </span>
                <img [src]="studysupport.card1.imageUrl" alt=""></a>
            </li>
            <!--<li class="card-mini"><a href=""><p>{{ studysupport.card3.title }}</p><img [src]="studysupport.card3.imageUrl" alt=""></a></li>-->
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li class="card-mini col-md-12 col-xs-12">
                <a href="/">
                <span class="card-mini__text">
                <p>Synoptic assessment windows</p>
                </span>
                    <img
                    [src]="studysupport.card5.imageUrl" alt=""></a>
            </li>
            <li class="card-mini col-md-12 col-xs-12">
                <a href="/">
                <span class="card-mini__text">
                <p>Past exam papers</p>
                </span>
                    <img
                    [src]="studysupport.card2.imageUrl" alt=""></a>
            </li>

            <li class="card-mini col-md-12 col-xs-12">
                <a href="/">
                <span class="card-mini__text">
                <p>Marketing resources</p>
                </span>
                <img [src]="studysupport.card3.imageUrl" alt=""></a>
            </li>

            <!--<li class="card-mini"><a href=""><p>{{ studysupport.card6.title }}</p><img [src]="studysupport.card6.imageUrl" alt=""></a></li>-->
        </ul>
    </div>
</div>
