<div class="card-head">
  <h3>Events</h3>
</div>
<div class="card-img">
  <a href="https://www.aat.org.uk/aat-events/branch-events/west-london-branch-time-management-agm" target="_blank">
    <img src="https://knowclive.github.io/dashboard/assets/img/events.png" alt="">
    <!--<span class="tag tag-success">Free</span>-->
  </a>
</div>
<div class="card-foot">
  <a href="https://events-emea1.adobeconnect.com/content/connect/c1/1097522706/en/events/event/shared/1378712327/event_landing.html?sco-id=2632784079&_charset_=utf-8" target="_blank">
    <h4>SecureAssess webinar</h4>
  </a>
  <span class="small-text">Mon 30 April, 12.30 - 14.00</span>
</div>

<div class="card-list">
  <div class="card-list__item">
    <!--<div class="card-list__item-img">-->
      <!--<img src="https://knowclive.github.io/dashboard/assets/img/event-tb1.png" alt="">-->
    <!--</div>-->
    <div class="card-list__item-text">
      <a href="https://www.eventsforce.net/aatevents/frontend/reg/thome.csp?pageID=42304&eventID=160&CSPCHD=000001000000pfsrazWQHU9RLl93u6D3bo3KgBlY4ufM_YObfa" target="_blank">
        Training Provider Awards</a>
      <span class="small-text">Thu 24 May, East Midlands Conference Centre</span>
    </div>
  </div>

  <div class="card-list__item">
    <!--<div class="card-list__item-img">-->
      <!--<img src="https://knowclive.github.io/dashboard/assets/img/event-tb2.png" alt="">-->
    <!--</div>-->
    <div class="card-list__item-text">
      <a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291337766_Synoptic_Assessment_Windows" target="_blank">
        Next AVSY synoptic assessments window</a>
      <span class="small-text">18 - 24 June</span>
    </div>
  </div>

</div>
